@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease;
  @apply transition-colors duration-300;
}

body.light {
  @apply text-black;
}

body.dark {
  @apply text-white;
}